.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox{
    font-weight: 400;
  }
  
  .form-control .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10;
    font-size: 16px;
  }
  
  .form-signin .form-control{
    z-index: 2;
  }
  .form-signin input[type="email"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"]{
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  router-outlet {
    flex: 1;
  }

  :host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  router-outlet + * {
    flex: 1 0 auto;
    padding-bottom: 60px; /* Height of footer */
  }

  .page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    flex: 1;
    padding-bottom: 300px; /* spatiu de la content la footer */
  }
