<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Va pup dulce, {{nume}} </h2>
            <div class="d-grid gap-3 mt-4">
                <button class="btn btn-primary" routerLink="/admin/utilizatori">
                    <i class="bi bi-people"></i> Gestionare Utilizatori
                </button>
                <button class="btn btn-primary" routerLink="/admin/angajati">
                    <i class="bi bi-person-badge"></i> Gestionare Angajați
                </button>
                <button class="btn btn-success" routerLink="/admin/creare-utilizator">
                    <i class="bi bi-person-plus"></i> Creare Angajat
                </button>
            </div>
        </div>
    </div>
</div>